@import '../../styles/breakpoints';

.project-entry-popup {
  opacity: 0.97;
  background-color: black;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000;

  .project-entry-popup-grid {
    margin: auto;
    width: 50%;
    height: 100%;
    overflow: scroll;

    @include breakpoint-medium-down {
      width: 80%;
    }

    div.title {
      font-size: 3em;
      padding: 0.5em 0em;
    }

    .description {
      ul {
        list-style: disc inside;
        li {
          padding: 0.2rem 0;
        }
      }
      p {
        padding: 0.2rem 0;
      }
    }

    .buttonWrap {
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        background: white;
        color: black;
        padding: 1em 2em;
      }

      button {
        width: 100%;
        height: 2em;
        background: white;
      }
    }

    .technology {
      ul {
        display: inline-flex;
        flex-wrap: wrap;

        li {

        }
      }
    }

    div {
      padding: 1em 0em;
    }
  }
}

