@import '../../styles/breakpoints';

.project-entry-popup {
  opacity: 0.9;
  background-color: black;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000;

  .project-entry-popup-grid {
    margin: auto;
    width: 50%;
    height: 100%;
    overflow: scroll;

    @include  breakpoint-medium-down {
      width: 80%;
    }

    .title {
      font-size:2em;
    }

    .buttonWrap {
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        width: 100%;
        height: 2em;
        background: white;
      }
    }

    .technology {
      ul {
        display: inline-flex;
        flex-wrap: wrap;

        li {

        }
      }
    }

    div {
      padding:1em 0em;
    }
  }
}

